.sidebar {
    flex: 0.4;
    height: calc(100hv - 50px);
    background-color:rgb(234, 243, 248);
    border: 1px solid rgb(230, 242, 247);
}

.sidebarWrapper {
    padding: 20px;
    color: rgb(58, 56, 56);
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 16px;
    font-weight: 600;
    color: rgb(114, 114, 114);
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover {
    background-color:rgb(155, 209, 235);
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px;
}

