.footer {
    width: 100%;
    height: 50px;
    
}

.footerWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerText {
    font-size: 12px;
    font-weight: 300;
    color:rgb(144, 152, 153);
}


